<header>
    <div class="head">
      
        <div class="card-img-overlay ">

            <img src="assets/img/pizza.jpg" class="card-img" alt="Order.com" style = "width: 100%; height:325px;">
            
            <div class="top-left">
               
                    <button style="width: 225px;margin-top: 5px;height: 65px; background-color: darkorange;" type="button" [routerLink] = "['/home-order']" ><a><img src="assets/img/orde.png" class = "card-img"alt="OrderLogo.com" max-width = "180px" height="26.41px"></a></button>
               
            </div>
        
            <div class="top-right">
                <div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog form-dark" role="document" >
                   <!--Content-->
                   <div class="modal-content card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg'); width: 420px; height: 600px;">
                    <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                        <!--Header-->
                        <div class="modal-header text-center pb-4">
                        <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel" style="color: #00C851;"><strong>Đăng</strong> <a
                            class="green-text font-weight-bold"><strong> Nhập</strong></a></h3>
                        <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <!--Body-->
                        <div class="modal-body">
                        <!--Body-->
                        <div class="md-form mb-5">
                            <input type="email" id="Form-email5" class="form-control validate white-text" style="width:100%; height: 30px; font-size: 16px;">
                            <label data-error="wrong" data-success="right" for="Form-email5" style=" color: #00C851; font-size: 16px;">Email</label>
                        </div>

                        <div class="md-form pb-3">
                            <input type="password" id="Form-pass5" class="form-control validate white-text" style="width: 100%; height: 30px; font-size: 16px;">
                            <label data-error="wrong" data-success="right" for="Form-pass5" style=" color: #00C851; font-size: 16px;">Mật khẩu</label>
                            <div class="form-group mt-4">
                            </div>
                        </div>

                        <!--Grid row-->
                        <div class="row d-flex align-items-center mb-4">

                            <!--Grid column-->
                            <div class="text-center mb-3 col-md-12">
                            <button type="button" class="btn btn-success btn-block btn-rounded z-depth-1" style="font-size: 18px;">Đăng nhập</button>
                            






                        <!--Tạo tài khoản-->
                        <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true" >
                            
                            <div class="modal-dialog" role="document">
                                <!--Content-->
                                <div class="modal-content form-elegant" style="width: 100%; height: 680px; margin-left: -10px;">
                                <!--Header-->
                                <div class="modal-header text-center" >
                                    <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel" style="color: #00C851;"><strong>Tạo tài khoản</strong></h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <!--Body-->
                                    <div class="modal-body mx-4">
                                    <!--Body-->
                                    <div class="md-form mb-5">
                                        
                                    <label data-error="wrong" data-success="right" for="Form-name" style="color: #00C851; text-align: left; font-size: 14px; margin-left: -420px;">Name</label>
                                    <input type="name" id="Form-name" class="form-control validate" style="height: 40px;">
                                    <label data-error="wrong" data-success="right" for="Form-email1" style="color: #00C851; text-align: left; font-size: 14px; margin-left: -420px;">Email</label>
                                    <input type="email" id="Form-email1" class="form-control validate" style="height: 40px;">
                                    <label data-error="wrong" data-success="right" for="Form-diaChi" style="color: #00C851; text-align: left; font-size: 14px; margin-left: -420px;">Địa chỉ</label>
                                    <input type="diaChi" id="Form-diaChi" class="form-control validate" style="height: 40px;">
                                    
                                    <label data-error="wrong" data-success="right" for="Form-sdt" style="color: #00C851; text-align: left; font-size: 14px; margin-left: -390px;">Số điện thoại</label>
                                    <input type="sdt" id="Form-sdt" class="form-control validate" style="height: 40px;">
                                   
                                   
                                    </div>

                                    <div class="md-form pb-3">
                                    <label data-error="wrong" data-success="right" for="Form-pass1" style="color: #00C851; text-align: left; font-size: 14px; margin-left: -420px;">Mật khẩu</label>
                                    <input type="password" id="Form-pass1" class="form-control validate" style="height: 40px;">
                                    
                                    <label data-error="wrong" data-success="right" for="Form-pass1" style="color: #00C851; text-align: left; font-size: 14px; margin-left: -360px;">Nhập lại mật khẩu</label>
                                    <input type="password" id="Form-pass1" class="form-control validate" style="height: 40px;">
                                    
                        
                                    </div>

                                    <div class="text-center mb-3">
                                    <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a" style="height: 40px; background-color: #00C851; font-size: 20px; color: #fff;">Gửi</button>
                                    </div>
                                    
                                </div>
                                <!--Footer-->
                                
                                </div>
                                <!--/.Content-->
                            </div>
                            </div>
                            <!-- Modal -->

                            <div class="text-center">
                                <a href=""  class="btn btn-default btn-rounded" data-toggle="modal" data-target="#elegantModalForm">
                            
                                    <button type="button" class="btn btn-success btn-block btn-rounded z-depth-1" style="font-size: 18px; background-color: #fff;color: #00C851; width: 294px; height: 36.5px; margin-left: -12px;">Tạo tài khoản</button>
                                </a>
                            </div>
                            </div>
                            <!--Grid column-->

                        </div>
                       

                        </div>
                    </div>
                    </div>
                    <!--/.Content-->
                </div>
                </div>
                <!-- Modal -->

                <div class="text-center">
                <a href=""  data-toggle="modal" data-target="#darkModalForm">
                    <button class="menu button-myaccount userlogin" style="width: 190px; height: 40px; background-color:darkorange;color: #fff; margin-top: 25px;font-size: 18px;" >
                        
                      Đăng nhập / Đăng kí
                    </button>
                </a>
                </div>
                
            </div>

            <!--Dòng chữ giữa ảnh-->
            <div class = "centered">
                <h1 style="background-color: #261e1e;  font-size: 45px; line-height: 40p; text-align: center;     padding: 4px">
                    <span style="color:white; color: #fff;padding: 4px; font-weight: 400; ">
                        Đặt thức ăn tại nhà hàng
                    </span>
                </h1>
            </div>
            <!--Search-->
            <div class="top-right2">
                <div class="btn btn-search">
                    
                    <div class="jig-subnavi-input">
                        <form class="form-inline my-2 my-lg-0">
                            <input type="text" class="subnavi-search-input restaurantsearchstring" id="irestaurantsearchstring" maxlength="25" placeholder="Tìm kiếm nhà hàng"
                        style="width: 190px; height: 40px; font-size: 16px;">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style=" height:37 px;font-size: 16px; color: darkorange;text-align: center; font-style:initial;">Tìm kiếm</button>
                          </form>
                      
                      <span class="btn-remove-search"></span>
                    </div>
                    <span class="btn-close"></span>
                  </div>
            </div>
            


        </div>
    </div>
</header>
<body style="width: 100%; height: 980px; background-color: #f8f5f2;">
    <div class = "listing-inner">
        <div class = "restaurant-fillter">
            <div class = "fillter-wrapper">
                <div class="title restaurants-counter" style="visibility: visible; color: black; font-size: 18px; height: 40px;"><span>Order</span></div>
                <div class = "filtter-kitchen">
                    <span class = "title" style="font-size: 18px;height: 45px;">
                        Ẩm thực
                    </span>
                    <label class = "atom-label">
                        <a data-type="Cuisine" data-value="reset"  class="filter-label filter-reset">
                            <button type="button"  style="width: 280px; height: 35px;font-size: 16px; text-align: center; color: darkorange; border:#261e1e; margin-top: 10px; background-color:white; ">Chọn tất cả</button>
                            <button type="button"  style="width: 280px; height: 35px;font-size: 16px; text-align: center; color: darkorange; margin-top: 6px; border:#261e1e; background-color: white;">Phở-Mì-Bún</button>
                            <button type="button" style="width: 280px; height: 35px;font-size: 16px; text-align: center; color: darkorange;  margin-top: 6px; border:#261e1e; background-color: white;">Cơm</button>
                            <button type="button"  style="width: 280px; height: 35px;font-size: 16px; text-align: center; color: darkorange;  margin-top: 6px; border:#261e1e; background-color: white;">Nước uống</button>
                            
                        </a>
                    </label>
                </div>
            </div>

        </div>

    </div>
</body>