.card-img-overlay{
  width: auto;
  height: 30px;
}
.logo img{
    width: 180px;
    height: 26,41px;
} 
input.cost {
  width: 80px;
}


/* Top left text */
.top-left {
  position: absolute;
  top: 13px;
  left: 25px;
  

}
.top-right2{
  position: absolute;
  top: 30px;
  right: 240px;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 30px;
}
.centered {
  position: absolute;
  margin-top: 220px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered_ButtonGroup{
  position: absolute;
  margin-top: 330px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-headline{
  position: relative;
  display: block;
  margin: 10px -20px 16px;
  color: #0a3847;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.bottom-left {
position: absolute;
bottom: 8px;
left: 16px;
}  
.listing-inner{
width: 1290px;
height: 700px;
position: relative;
margin: 0 auto;
max-width: 1240px;
height: 100%;
min-height: 500px;
overflow: hidden;
display: block;
margin-top: 350px;
margin-left: 40px;
background-color: #f8f5f2;

}
.restaurant-fillter{
width: 380px;
height: 680px;
overflow: hidden;
min-width: 255px;
padding: 0 16px;
display: block;
float: left;

}
.fillter-wrapper{
width: 380px;
height:680px;
position: relative;
height: auto;
overflow-y: scroll;
bottom: 0;
margin-bottom: 40px;
display: block;
}
.filtter-kitchen{
width: 180px;
height: 358px;
margin-top: 0;
transform: translateZ(0);
margin-bottom: 32px;
display: block;

}
.filtter-kitchen.title{
display: block;
float: left;
clear: both;
color: #0a3847;
font-size: 18px;
font-weight: 600;
margin: 16px 0;

}
.atom-label{
width: 180px;
height: 238px;
cursor: pointer;

}

.atom-filter>a {
  -webkit-transform: translateZ(0);
  height: 40px;
  line-height: 37px;
  white-space: nowrap;
  margin-bottom: 4px;
  box-shadow: 0 2px 2px #cfcac4;
  display: inline-block;
  background-color: #fff;
  padding: 0 16px;
  width: 100%;
  border-radius: 3px;
  font-size: 18px;
}
a{
cursor: pointer;
outline: 0;
text-decoration: non
}
.atom-filter .filter-label:before {
font-family: fontello;
content: attr(data-icon);
font-size: 24px;
margin-right: 14px;
top: 2px;
position: relative;
}
element.style {
background-image: url(//bizweb.dktcdn.net/100/387/180/themes/765139/assets/ser_col_3.jpg?1590391920314);
}
.section_service .scale_hover_img {
width: 100%;
float: left;
display: block;
position: relative;
height: 380px;
box-shadow: 0px 3px 45px 0px rgba(43,43,43,0.12);
border-radius: 15px;
margin-bottom: 40px;
background-position: top;
background-size: cover;
background-repeat: no-repeat;
}
*, ::after, ::before {
box-sizing: border-box;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}
.row {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}

*, ::after, ::before {
box-sizing: border-box;
}

.section_service .scale_hover_img .info {
display: inline-block;
bottom: 0;
left: 0;
opacity: 1;
position: absolute;
z-index: 9;
width: 100%;
text-align: center;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
@media (min-width: 1200px) {
.section_service .scale_hover_img:after {
  content: "";
  background-image: url(//bizweb.dktcdn.net/100/387/180/themes/765139/assets/bg_pro.png?1590374616298);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 1;
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
}
.section_service .scale_hover_img .info h3{
font-size: 20px;
font-weight: bold;
font-family: "Arial",sans-serif;
color: #ed3952;
text-transform: uppercase;
}
.btn {
width: 45%;
margin-bottom: 10px;
}
.lazyload {
background: #ebebeb;
}
.top-left2{
  position: absolute;
  top: 1500px;
  left: 100px;
}
.top-left3{
  position: absolute;
  top: 1600px;
  left: 100px;
}

.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
.box {
  height: 60px;
  background-color: rgb(252, 171, 49);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
input {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 0px;
  transition: 0.8s ease;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
 
input::placeholder {
  color: antiquewhite;
}
 
a {
  text-align: center;
  width: 60px;
  font-size: 18px;
}
 
.box:hover input {
  width: 200px;
  margin: 0 20px;
  border-bottom: 2px solid white;
}
 
input:focus {
  width: 200px;
  margin: 0 20px;
  border-bottom: 2px solid white;
}