<header>

    <div class="head">

        <div class="card-img-overlay">

            <img src="assets/img/bgOrder.jpg" class="card-img" alt="Order.com" style="width: 100%; height: 525px;">

            <div class="top-left">

                <button style="width: 225px;height: 65px; background-color: darkorange;"><img src="assets/img/orde.png"
                        class="card-img" alt="OrderLogo.com" max-width="180px" height="26.41px" type="button"
                        [routerLink]="['/home-order']"></button>

            </div>

            <div class="top-right">
                <div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog form-dark" role="document">
                        <!--Content-->
                        <div class="modal-content card card-image"
                            style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg'); width: 420px; height: 600px;">
                            <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                                <!--Header-->
                                <div class="modal-header text-center pb-4">
                                    <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel"
                                        style="color: #00C851;"><strong>Đăng</strong> <a
                                            class="green-text font-weight-bold"><strong> Nhập</strong></a></h3>
                                    <button type="button" class="close white-text" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <!--Body-->
                                <div class="modal-body">
                                    <!--Body-->
                                    <div class="md-form mb-5">
                                        <input type="email" [(ngModel)] = "email" id="Form-email5" class="form-control validate white-text"
                                            style="width:100%; height: 30px; font-size: 16px;">
                                        <label data-error="wrong" data-success="right" for="Form-email5"
                                            style=" color: #00C851; font-size: 16px;">Email</label>
                                    </div>

                                    <div class="md-form pb-3">
                                        <input type="password"  [(ngModel)] = "matKhau" id="Form-pass5" class="form-control validate white-text"
                                            style="width: 100%; height: 30px; font-size: 16px;">
                                        <label data-error="wrong" data-success="right" for="Form-pass5"
                                            style=" color: #00C851; font-size: 16px;">Mật khẩu</label>
                                        <div class="form-group mt-4">
                                        </div>
                                    </div>

                                    <!--Grid row-->
                                    <div class="row d-flex align-items-center mb-4">

                                        <!--Grid column-->
                                        <div class="text-center mb-3 col-md-12">
                                            <button type="button"
                                                class="btn btn-success btn-block btn-rounded z-depth-1"
                                                style="font-size: 18px;" (click) = "dangNhap()" >Đăng nhập</button>

                                            <!--Tạo tài khoản-->
                                            <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog"
                                                aria-labelledby="myModalLabel" aria-hidden="true">

                                                <div class="modal-dialog" role="document">
                                                    <!--Content-->
                                                    <div class="modal-content form-elegant"
                                                        style="width: 100%; height: 650px; margin-left: -10px;">
                                                        <!--Header-->
                                                        <div class="modal-header text-center">
                                                            <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3"
                                                                id="myModalLabel" style="color: #00C851;"><strong>Tạo
                                                                    tài khoản</strong></h3>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <!--Body-->
                                                        <div class="modal-body mx-4">
                                                            <!--Body-->
                                                            <div class="md-form mb-5">

                                                                <label data-error="wrong" data-success="right"
                                                                    for="Form-name"
                                                                    style="color: #00C851; text-align: left; font-size: 14px; margin-left: -420px;">Name</label>
                                                                <input type="name" id="Form-name"
                                                                    class="form-control validate" style="height: 40px;">
                                                                <label data-error="wrong" data-success="right"
                                                                    for="Form-email1"
                                                                    style="color: #00C851; text-align: left; font-size: 14px; margin-left: -420px;">Email</label>
                                                                <input type="email" id="Form-email1"
                                                                    class="form-control validate" style="height: 40px;">

                                                                <label data-error="wrong" data-success="right"
                                                                    for="Form-diaChi"
                                                                    style="color: #00C851; text-align: left; font-size: 14px; margin-left: -420px;">Địa
                                                                    chỉ</label>
                                                                <input type="diaChi" id="Form-diaChi"
                                                                    class="form-control validate" style="height: 40px;">

                                                                <label data-error="wrong" data-success="right"
                                                                    for="Form-sdt"
                                                                    style="color: #00C851; text-align: left; font-size: 14px; margin-left: -390px;">Số
                                                                    điện thoại</label>
                                                                <input type="sdt" id="Form-sdt"
                                                                    class="form-control validate" style="height: 40px;">



                                                            </div>

                                                            <div class="md-form pb-3">
                                                                <label data-error="wrong" data-success="right"
                                                                    for="Form-pass1"
                                                                    style="color: #00C851; text-align: left; font-size: 14px; margin-left: -420px;">Mật
                                                                    khẩu</label>
                                                                <input type="password" id="Form-pass1"
                                                                    class="form-control validate" style="height: 40px;">

                                                            </div>

                                                            <div class="text-center mb-3">
                                                                <button type="button"
                                                                    class="btn blue-gradient btn-block btn-rounded z-depth-1a"
                                                                    style="height: 40px; background-color: #00C851; font-size: 20px; color: #fff;">Đăng ký</button>
                                                            </div>

                                                        </div>
                                                        <!--Footer-->

                                                    </div>
                                                    <!--/.Content-->
                                                </div>
                                            </div>
                                            <!-- Modal -->

                                            <div class="text-center">
                                                <a href="" class="btn btn-default btn-rounded" data-toggle="modal"
                                                    data-target="#elegantModalForm">

                                                    <button type="button"
                                                        class="btn btn-success btn-block btn-rounded z-depth-1"
                                                        style="font-size: 18px; background-color: #fff;color: #00C851; width: 294px; height: 36.5px; margin-left: -12px;">Tạo
                                                        tài khoản</button>
                                                </a>
                                            </div>
                                        </div>
                                        <!--Grid column-->

                                    </div>


                                </div>
                            </div>
                        </div>
                        <!--/.Content-->
                    </div>
                </div>
                <!-- Modal -->

                <div class="text-center">
                    <a *ngIf = "!isLogin" href="javascript:void(0)" data-toggle="modal" (click) = "loginForm()">
                        <button class="menu button-myaccount userlogin"
                            style="width: 190px; height: 40px; background-color:darkorange;color: #fff; margin-top: 25px;font-size: 18px;">

                            Đăng nhập / Đăng ký
                        </button>
                    </a>

                    <a *ngIf = "isLogin" href="javascript:void(0)" data-toggle="modal" (click) = "loginForm()">
                        <button class="menu button-myaccount userlogin"
                            style="width: 190px; height: 40px; background-color:darkorange;color: #fff; margin-top: 25px;font-size: 18px;">

                            Hello {{user.email}}
                        </button>
                    </a>
                </div>

            </div>

            <div class="centered">
                <h1
                    style="background-color: black;  font-size: 50px; line-height: 40p; text-align: center;     padding: 4px">
                    <span style="color:white; color: #fff;padding: 4px; font-weight: 400;">
                        Đặt thức ăn dễ dàng
                    </span>
                </h1>
                <h2 style="background-color: black;     font-size: 37px; line-height: 32p">
                    <span style="color:white; color: #fff;padding: 4px">
                        Chọn nhà hàng trong khu vực của bạn
                    </span>
                </h2>
            </div>
            <div class="centered_ButtonGroup">
                <div class="container">
                    <div class="panel panel-default"
                        style="width: 760px; height: 71px; background: hsla(0,0%,100%,.85);">
                        <div class="panel-body">
                            <div class="btn-group">

                                <div class="Button">
                                    <button type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"
                                        style="width: 150px; height: 50px; font-size: 16px; background-color: aliceblue; color: black; margin-left: 55px;">
                                        TP.Hồ Chí Minh
                                    </button>
                                </div>
                                <div class="dropdown">
                                    <button type="button" aria-haspopup="true" aria-expanded="false"
                                        style="width: 150px; height: 50px; font-size: 16px; background-color: aliceblue; color: black;margin-left: 65px; scroll-snap-type:mandatory;">
                                        <a class="dropdown-item" href="#">Quận Gò Vấp</a>
                                    </button>
                                </div>
                                <button
                                    style="width: 150px; height: 50px; font-size: 18px; background-color:#1574f5; color:#fff; margin-left: 80px;"
                                    type="button" [routerLink]="['/main-order']">
                                    <a>Hiển Thị</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</header>

<div class="content">

    <div class="content facebook" style="margin-top: 500px; margin-left: 11.5px; margin-right: 1px; width: 100%;">
        <div class="content-social" style="width: 100%; height: 180px;     background-color: #f8f5f2;">
            <div class="inner grid">
                <span class="facebook-headline grid-10"
                    style="width: 100%; height: 110px; font-size: 25px; margin-top: 80px; text-align:center; float: left;">
                    Bạn thích dịch vụ của chúng tôi? Theo dõi Order.com trên Facebook ngay!
                </span>

            </div>
        </div>
    </div>
    <div class="content-steps">
        <section class="steps-inner" style="text-align: center;">
            <h3 class="steps-subheadline" style="text-align: center;">Sử dụng Order.com như thế nào?</h3>
            <h4 class="steps-mainheadline">Vô cùng dễ dàng!</h4>
            <div class="steps-wrapper number-of-steps-3" style="height: 359px;">
                <div class="step-wrapper">
                    <span class="step-icon">
                        <img src="assets/img/iconViTri.png" alt="ViTri.com" style="width:60px; height:60px">
                        <span class="step-number">1.</span>
                        <span class="step-headline">Nhập vị trí của bạn</span>
                        <p>Chọn quận của bạn để hiển thị danh sách nhà hàng</p>
                    </span>
                </div>
                <span class="step-seperator">
                    <img src="assets/img/iconNext.png" alt="Next.com" style="width:30px; height:30px; ">
                </span>
                <div class="step-wrapper">
                    <span class="step-icon">
                        <img src="assets/img/iconChonMon.png" alt="ViTri.com" style="width:60px; height:60px">
                        <span class="step-number">2.</span>
                        <span class="step-headline">Chọn nhà hàng và món ăn</span>
                        <p>Bạn muốn ăn món gì? Chọn món từ nhiều nhà hàng khác nhau.</p>
                    </span>
                </div>
                <span class="step-seperator">
                    <img src="assets/img/iconNext.png" alt="Next.com" style="width:30px; height:30px">
                </span>
                <div class="step-wrapper">
                    <span class="step-icon" style="margin-top: -30px; margin-left: 30px;">
                        <img src="assets/img/iconGiaoHang.png" alt="ViTri.com" style="width:60px; height:60px">
                        <span class="step-number">3.</span>
                        <span class="step-headline">Thanh toán và giao hàng tận nơi</span>
                        <p>Thanh toán tiền mặt hay thẻ tín dụng</p>
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="d-flex flex-column">
    <div class = "content-apps content-apps-vn">
        <div class="apps-inner">
            <img src="assets/img/bgApps.jpg" class="card-img" alt="Order.com" style = "width: 100%; height: 390px;">
            <div class="top-left2">
                <div class="apps-headline"><h3 ><span style="background-color: black;  font-size: 40px; line-height: 40p; text-align: center;padding: 4px; color:whitesmoke ;">Tải ứng dụng Order.com</span></h3></div>                   
            </div>
            <div class="top-left3">
                <div class="apps-headline"><h3 ><span style="background-color: black;  font-size: 40px; line-height: 40p; text-align: center;padding: 4px; color:whitesmoke ;">Click chuột và tận hưởng sự tiện dụng</span></h3></div>
            </div>         
        </div>               
    </div>
    <a href="#" class="toTop" id="toTop"><span class="wai_screenreader" style="margin-right: 0px "><img src="assets/img/iconHome.png" alt="Home.com" width="30px" height="30px" style = "background-color: black"></span></a>
</div>
<footer style="width: 100%;height: 150 px;">
    <div class="colofon" style="background-color:darkorange; color: white;">
        <div class="row" style="width: 350px; height: 300px;">
            <ul>
                <li class="headline"><h2 style=" text-align: left;">Web Order Order.com được thực hiện bởi: </h2></li>
                <h4 style="font-size: 16px; text-align: left;">Nguyễn Ngọc Huế</h4>
                <h4 style="font-size: 16px; text-align: left;">Nguyễn Thị Thu Thảo</h4>
                <h4 style="font-size: 16px; text-align: left;">Lê Thị Mỹ Hạnh</h4>
                <h4 style="font-size: 16px;text-align: left;">Nguyễn Thanh Sang</h4>
            </ul>
        </div>
        <div class = "row" style=" height: auto; float: left; margin-top: -250px; margin-left: 350px; color:#fff;">
            <ul>
                <h2 style=" text-align: center;">Giảng Viên: Lê Ngọc Hiếu</h2>
                <h2 style=" text-align: center;">Trường đại học Mở TP. Hồ Chí Minh</h2>
                
            </ul>
            <ul>
                <h2 style=" text-align: center;">Trang Web tham khảo: <a href="https://www.vietnammm.com/" target="_blank" class="copyright" style="color:#fff;">Vietnammm.com</a></h2>
            </ul>
        </div>
    </div>
</footer>