
<h1 *ngIf="hoadons.totalRecords == 0"><em>Không có dữ liệu</em></h1>
<button type="button" class="btn btn-outline-dark" (click)="openCreateUpdateModal(false, null)">Thêm hóa đơn mới</button>
<table class='table table-bordered' aria-labelledby="tableLabel" *ngIf="hoadons.totalRecords != 0">
    <thead>
        <tr>
            <th>Mã Order</th>
            <th>Mã Thức ăn</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of hoadons.data; index as i;">
            <td>{{ data.maOrder }}</td>
            <td>{{ data.maThucAn }}</td>
            <td>{{ data.gia }}</td>
            <td>{{ data.giamGia }}</td>
            <td>
                <button type="button" class="btn btn-outline-warning" style="margin-left: 10px;"
                 (click)="openCreateUpdateModal(true, i)">Sửa</button>
                <button type="button" class="btn btn-outline-danger" style="margin-left: 10px;"
                (click)="deleteHoaDon(data.maOrder)">Xóa</button>
            </td>
        </tr>
    </tbody>
</table>
<!--Phân trang-->
<ul class="pagination">
    <li>
        <a type="button" class="btn btn-secondary" href="javascprit:void(0)" (click)="goPrevious()">Previous</a>
    </li>
    <li class="btn btn-outline-secondary" style="margin-left: 10px;">{{hoadons.page}}</li>
    <li style="margin-left: 10px;">
        <a type="button" class="btn btn-secondary" href="javascprit:void(0)" (click)="goNext()">Next</a>
    </li>
</ul>
<!-- Modal -->
<div class="modal fade" id="openCreateUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="!isEdit" class="modal-title" id="exampleModalLabel">Tạo danh mục</h5>
                <h5 *ngIf="isEdit" class="modal-title" id="exampleModalLabel">Sửa danh mục</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-9">
                    </div>
                    <div class="col-3">
                        <p>* là bắt buộc nhập</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        Mã Order *
                    </div>
                    <div class="col-9">
                        <input [disabled]="isEdit" class="form-control" [(ngModel)]="hoadon.maOrder" />
                    </div>
                </div>
                <br />
              <!---->
              <div class="row">
                <div class="col-3">
                    Mã Thức ăn *
                </div>
                <div class="col-9">
                    <input class="form-control" [(ngModel)]="hoadon.maThucAn" />
                </div>
            </div>
            <br />
          <!---->
          <div class="row">
            <div class="col-3">
                Giá *
            </div>
            <div class="col-9">
                <input class="form-control" [(ngModel)]="hoadon.gia" />
            </div>
        </div>
        <br />
                 <!---->
                 <div class="row">
                    <div class="col-3">
                        Số lượng *
                    </div>
                    <div class="col-9">
                        <input class="form-control" [(ngModel)]="hoadon.giamGia" />
                    </div>
                </div>
                <br />
                <!---->
                <div class="row">
                    <div class="col-3">
                        Ghi Chú
                    </div>
                    <div class="col-9">
                        <input  class="form-control" [(ngModel)]="hoadon.ghiChu" />
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                    <button *ngIf="!isEdit" type="button" class="btn btn-success" (click)="createHoaDon()">Tạo danh
                        mục</button>
                    <button *ngIf="isEdit" type="button" class="btn btn-primary" (click)="updateHoaDon()">Sửa danh mục</button>
                </div>
            </div>
        </div>
    </div>
</div>